<div class="banner">
	<h1>Stupid Coaching</h1>
</div>

<div class="you">
	<p><%= @ask %></p>
	<p>-You</p>
</div>

<div class="coach">
	<p id="answer"><%= @answer %></p>
	<p>-Your coach</p>
</div>

<div class="a">
	<%= link_to "Know more about us", 'ask' %>
</div>